@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Rubik:400");

.shapes-part {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 25%;
}

.shape {
  margin: 0 auto;
  position: absolute;
}

.random-shape:after {
  font-family: FontAwesome;
  content: "";
}

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(253deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(613deg);
  }
}
.shape-container--1 {
  animation: shape-1 46s linear infinite;
}
.shape-container--1 .random-shape:after {
  margin: 5rem;
  color: #c2b7fe;
  font-size: 1rem;
  content: "";
}

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(356deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(716deg);
  }
}
.shape-container--2 {
  animation: shape-2 50s linear infinite;
}
.shape-container--2 .random-shape:after {
  margin: 7rem;
  color: #95a9ff;
  font-size: 1.4rem;
  content: "";
}

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(327deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(687deg);
  }
}
.shape-container--3 {
  animation: shape-3 50s linear infinite;
}
.shape-container--3 .random-shape:after {
  margin: 8rem;
  color: #fff8dc;
  font-size: 1.6rem;
  content: "";
}

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(315deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(675deg);
  }
}
.shape-container--4 {
  animation: shape-4 48s linear infinite;
}
.shape-container--4 .random-shape:after {
  margin: 9rem;
  color: #c2b7fe;
  font-size: 1.8rem;
  content: "";
}

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(88deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(448deg);
  }
}
.shape-container--5 {
  animation: shape-5 48s linear infinite;
}
.shape-container--5 .random-shape:after {
  margin: 7rem;
  color: #95a9ff;
  font-size: 1.4rem;
  content: "";
}

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(355deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(715deg);
  }
}
.shape-container--6 {
  animation: shape-6 42s linear infinite;
}
.shape-container--6 .random-shape:after {
  margin: 10rem;
  color: #db7093;
  font-size: 2rem;
  content: "";
}

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(34deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(394deg);
  }
}
.shape-container--7 {
  animation: shape-7 48s linear infinite;
}
.shape-container--7 .random-shape:after {
  margin: 4rem;
  color: #c2b7fe;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(78deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(438deg);
  }
}
.shape-container--8 {
  animation: shape-8 44s linear infinite;
}
.shape-container--8 .random-shape:after {
  margin: 3rem;
  color: #95a9ff;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(273deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(633deg);
  }
}
.shape-container--9 {
  animation: shape-9 48s linear infinite;
}
.shape-container--9 .random-shape:after {
  margin: 10rem;
  color: #ffd700;
  font-size: 2rem;
  content: "";
}


