.featured-section {
  background-image: url(./../Hero/media/Two2.png);
  background: var(--tertiary-bg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  padding: 0px 84px 41px 82px;
  z-index: 2;
  position: relative;
  padding-top: 220px;
  margin-top: -220px;
  z-index: 0;
}

.btn-custom {
  transition: all ease-in-out 0.5s;
  border: none;
  overflow: hidden;
}

.btn-custom:hover::before {
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.btn-custom::before {
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  top: 0;
  content: "";
  background: #fdc703;
  color: #fff !important;
  transition: all ease-in-out 0.5s;
  z-index: -1;
}

.why-us-item {
  z-index: 1;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 0px 10px 1px #02355a;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  border-bottom-right-radius: 15px;
  border-left: 1px solid #fff;
  box-shadow: 2px 1px 10px 5px hsla(0, 0%, 100%, 0.14);
  background: var(--white-bg);
  border-top-left-radius: 0px;
}

.why-us-item:hover .why-us-content,
.why-us-item:hover .why-us-content {
  color: #fff !important;
  transition-delay: 0.4s;
  transition: all ease-in-out 0.5s;
}

.why-us-item:hover .why-us-content {
  color: #fff !important;
  transition-delay: 0.5s;
  transition: all ease-in-out 0.8s;
}

.why-us-item:hover .why-us-content .review-para {
  color: white;
}

.why-us-item:hover::before {
  color: #fff !important;
  height: 100%;
  transition: all ease-in-out 0.5s;
}

.why-us-item:hover .icon {
  color: var(--text-primary) !important;
}

.why-us-item:hover svg {
  color: var(--text-primary) !important;
}

.why-us-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: #ffdcdc;
  transition: all ease-in-out 0.5s;
  z-index: -1;
}

.bottom_animation {
  z-index: 1;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
  box-shadow: 0px 0px 1px 1px #ddd;
  cursor: pointer;
}

.bottom_animation:hover .bottom_animation,
.bottom_animation:hover .bottom_animation .icon {
  color: #fff !important;
  transition-delay: 0.4s;
  transition: all ease-in-out 0.5s;
}

.bottom_animation:hover .bottom_animation .icon {
  color: #fff !important;
  transition-delay: 0.5s;
  transition: all ease-in-out 0.8s;
}

.bottom_animation:hover::before {
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.bottom_animation::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: all ease-in-out 0.5s;
  background: #029e9d !important;
  cursor: pointer;
}

/* section heading */

.top_inherit {
  top: inherit !important;
}

.dot_overlay {
  background: #000000 url(./media/dot-overlay.png) repeat;
}

.testimonial {
  background-image: url(./media/testimonial.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* destination card section */

@media screen and (min-width: 1910px) {
  .featured-section {
    width: 100%;
    padding: 220px 18rem 40px 19rem;
  }
}

@media only screen and (max-width: 767px) {
  .featured-section {
    padding: 0px 30px;
    padding-bottom: 40px;
  }
}
